{% extends 'base.html.twig' %}

{% block title %}Demande de contact{% endblock %}

{% block body %}
<style>
    .page-contact { margin: 1em auto; max-width: 800px; width: 95%; font: 20px/1.5 sans-serif; }
    .page-contact code { background: #F8F8F8; padding: 2px 6px; }
</style>

<div class="page-contact">
    {% if mycontact is defined and mycontact is not empty %}
        <h1>Mon contact actuel</h1>
        <ul>
            <li>Nom = {{ mycontact.name }}</li>
            <li>Prénom = {{ mycontact.firstname }}</li>
            <li>Age = {{ mycontact.age }}</li>
            {% if mycontact.newsletter == true %}
                <li>Newsletter : <input type="checkbox" checked disabled></li>
            {% elseif mycontact.newsletter == false %}
                <li>Newsletter : <input type="checkbox" disabled></li>
            {% endif %}
        </ul>
    {% else %}
        <h1>Ajouter un nouveau contact</h1>
        {{ form(form) }}
    {% endif %}
    <br>
    <br>
    <br>
    <h1>Mes demandes de contact ({{ contacts | length }})</h1>
    {% for contact in contacts %}
        <ul>
            <li><a href="{{ path('contactId', {id: contact.id}) }}">Demande de contact de {{ contact.firstname }} {{ contact.name }}</a> </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
